body{
  margin: 10%;
  background-color: dodgerblue;
  /*width: 86%;*/
}

.flex-container{
  display: block;
}

.flex-container > div{
  margin: 10px;
  padding: 20px;
}

.topbar{
  background-color: gray;
  border: 5px solid #000000;
}

input{
  background-color: white;
  border: 5px solid #000000;
}

button{
  background-color: white;
  border: 5px solid #000000;
}

.weatherArea{
  border: 5px solid #000000;
}

.important{
  background-color: blue;
  border: 5px solid #000000;
  display: flex;
}

#temp{
  background-color: aqua;
  border: 7px solid #000000;
  padding: 20px;
  margin: 30px;
  width :30%;
  font-size: 1000%;
}

#clothes{
  background-color: aqua;
  border: 7px solid #000000;
  padding: 20px;
  margin: 30px;
  margin-top: 100px;
  width: 30%;
}

#forecast{
  background-color: red;
  border: 5px solid #000000;

}

#foot{
  background-color: yellow;
  border: 5px solid #000000;
}


/*IN FORECAST PAGE*/
.forecast-container {
  display: flex;
}

.forecast-container > div{
  background-color: gainsboro;
  padding: 10px;
  margin: 10px;
}