body{
  margin: 5% 10%;
  background-color: white;
  width: 60%;
}

.flex-container{
  display: block;
  background-color: #68AEFF;
  padding: 5% 0;
}

.flex-container > div{
  background-color: #68AEFF;
}

input{
  background-color: white;
}

button{
  background-color: white;
  border: none;
}

.weatherArea{
  background-color: #68AEFF;
  padding: 0;
  margin: 0;
}

.important{
  display: flex;
  background-color: #68AEFF;
}

#temp{
  padding-right: 15%;
  margin: 30px;
  margin-top: 20%;
  margin-left: 10%;
  width :30%;
  font-size: 20vw;
  font-weight: lighter;
  color: white;
}

#clothes{
  background-color: #8BF9EB;
  border-radius: 100px 100px;
  padding: 20px;
  margin: 30px;
  margin-top: 30%;
  width: 30%;
}


#ready{
  background-color: #BBF383;
  border: 5px solid;
  border-radius: 40px 40px;
  border-color: #BBF383;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  margin: 2% 30%;
}

/*top of page*/
#but{
  padding: 1%;
  font-weight: bold;
  border-radius: 14px 14px;
  font-size: 1.3em;
  width: 20%;
  position: absolute;
  right: 32%;
}

#cityloc{
  padding: 1%;
  font-weight: bold;
  border-radius: 14px 14px;
  font-size: 1.5em;
  width: 20%;
  position: absolute;
  left: 15%;
}

#cityloc > img{
  width: 2em;
  padding-right: 8%;
}

#today{
  color:white;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  padding-left: 10%;
}

/*IN FORECAST PAGE*/
.forecast-container {
  display: flex;
  justify-content: center;
}

.forecast-container > div{
  /*top right bottom left*/
  margin: 10px 40px;
}

.forecast-container > div >p{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

#matchingForecast{
  background-color: #D9D9D980;
}

.center{
  margin: auto;
  width: 50%;
}


