@import url('https://fonts.googleapis.com/css?family=Kadwa&display=swap');
@import url('https://fonts.googleapis.com/css?family=JejuMyeongjo&display=swap');

body{
  margin: 5% 10%;
  background-color: white;
  width: 500px;
  height: 900px;
  font-family: Kadwa, monospace;
}

.main-container{
  display: block;
  background-color: #68AEFF;
  padding: 5% 0;
}


/*TOP OF PAGE*/
button{
  background-color: rgb(245,245,245);
  border: none;
  font-family: Kadwa, monospace;
}

/*home-btn in DISPLAY PAGE*/
#cityloc, #add-table, #home-btn{
  width: 20%;
  position: absolute;
  border-radius: 14px 14px;
}

#cityloc, #home-btn{
  font-size: 1.3em;
  font-weight: bold;
  left: 15%;
}

#cityloc > img{
  width: 0.6em;
  padding-right: 8%;
}

#add-table{
  font-size: 1em;
  right: 33%;
}


/*DISPLAY OF ALL WEATHER INFO*/
.weatherArea{
  background-color: #68AEFF;
  padding: 0;
  margin: 0;
}

/*MOST IMPORTANT BIG INFO*/
.important{
  display: flex;
}

#temp{
  padding-right: 15%;
  margin: 30px;
  margin-top: 25%;
  margin-left: 10%;
  width :30%;
  font-size: 20vw;
  font-weight: lighter;
  color: white;
  font-family: JejuMyeongjo, monospace;
}

#clothes{
  background-color: #8BF9EB;
  border-radius: 100px 100px;
  padding: 20px;
  /*top right bottom left*/
  margin: 30% 30px 30px 0;
  margin-top: 30%;

  width: 30%;
}

#today{
  color:white;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  padding-left: 10%;
  margin: 0px;
}

/*Daily/Timetable FORECAST DISPLAY AREA*/
#forecast-area{
  background-color: #D9D9D980;
  margin: 10px 0;
}

.center{
  margin: auto;
  width: 50%;
}

.center> p{
  width: 127px;
}

/***IN FORECAST PAGE***/
.forecast-container {
  display: flex;
  justify-content: center;
  width: 70%;
}

.forecast-container > div{
  /*top right bottom left*/
  margin: 10px 40px;
}

.forecast-container > div >p{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

#time-size{
  font-size: 2.3vw;
}


/*FOOTER - Ready or not message*/
.ready{
  background-color: #BBF383;
  border: 5px solid;
  border-radius: 20px 20px;
  border-color: #BBF383;
  font-size: 2.3vw;
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin: 7% 25%;
  padding: 5px;
}


/****DISPLAY PAGE*****/
#display{
  background-color: #68AEFF;
  padding: 5% 5%;
  height: 900px;
}

#home-btn > a:link, a:visited{
  text-decoration: none;
  color: black;
}

#display-top{
  /* display: flex; */
  color: white;
  font-weight: bold;
}

#display-top > p{
  position: absolute;
  right: 38%;
  font-size: 2.7vw;
}

#title{
  top: 20%;
}

#title-time{
  top: 25%;
}

#display-main{
  margin-top: 20%;
}

#display-loc{
  width: 90%;
  border-radius: 13px 13px;
  font-size: 3vw;
  /*top right bottom left*/
  margin-left: 5%;
}

#display-loc > img{
  width: 3.5%;
  padding-right: 3%;
}


#display-tempfore{
  color: white;
  font-weight: bold;
  padding: 1em;
  font-size: 3vw;
}

#display-tempfore > p{
  margin: 10px 0;
  font-family: Kadwa;
}

#display-extra{
  background-color: rgb(245,245,245);
  border-radius: 10px 10px;
  padding: 5%;
  font-size: 2.5vw;
  margin-bottom: 5%;
}

#display-extra > p{
  margin: 2% 0;
}

.right-align{
  float: right;
}